*{padding: 0; margin: 0; box-sizing: border-box; font-family: "General sans Medium";}
html,body{width: 100%; height: 100%;}
#main{width: 100%;}
#hero{height: 100vh; width: 100%; background-color: black; color: #fff;}
#nav a{color: #fff; text-decoration: none; font-size: 18px;}
#nav{width: 100%; padding: 20px 40px; display: flex; justify-content: space-between; align-items: center; color: #fff;}
#heading h1{font-size: 10vw; text-transform: uppercase; font-family: "General sans Medium"; font-weight: 900; opacity: 0.6; line-height: 134px; margin-left: 30px;}
#heading{margin-top: 90px;}
#secondh1{margin-left: 230px !important}
.blocktext{ width: fit-content;}
.blocktext h5{text-align: right; font-size: 15px; text-transform: uppercase;}
#chotiheading{margin-top: 100px; padding-right: 50px;}
#chotiheading h5{text-align: right; text-transform: uppercase; margin-top: 0.5vw; font-size: 1vw;}
#hero-ffoter{display: flex; align-items: center; justify-content: space-between; padding-top: 3.6vw; padding-left: 50px; padding-right: 50px;}
#hero-ffoter a {color: #fff; text-decoration: none; text-transform: uppercase;}
#iconset a{width: 30px; height: 30px; border-radius: 50%;  background-color: rgba(255, 255, 255, 0.6); color: black; display: inline-block;display: flex; align-items: center; justify-content:center; }
#iconset{display: flex; align-items: center; gap: 10px;}
#second{ height: 100vh; background-color: black; padding-top: 100px;}
.elem,.elemlast{ border-top: 1px solid #fff; margin-right: 15vw; margin-left: 4vw; display: flex; align-items: center; justify-content: space-between; color: #fff; position: relative;}
.elem h2,.elemlast h2{color: #fff; opacity: 0.6; font-size: 8vw; font-weight: 500 !important; text-transform: uppercase;}
.elemlast{border-bottom: 1px solid #fff;}
.elemlast img{display: none;}
.elem img{position: absolute; z-index: 9999; height: 140%; display: none;}
.about1{width: 100%; background-color: black; display: grid; justify-content: center; gap: 80px; grid-template-columns: 50% 44%;}
#aboutimage{width: 15vw;height: 15vw; border-radius: 50%; background-image: url(images/cynthia.png);background-size: cover;  background-position: center; background-color: black; margin-left: auto;}
.about_text{color: #fff; }
.about_text h2{font-size: 14px; opacity: 0.6;}
.about_text p{line-height: 28px; font-size: 1.125rem; width: 75%; letter-spacing: 0.01em;}
#btn_talk{padding: 6px 20px; border-radius: 16px; outline: 1px solid #fff; background-color: black; color: #fff;}
#btn_talk:hover{background-color: #fff; color: black; outline: none;}